<div class="container">
	<h1 mat-dialog-title> Settings</h1>
	<mat-dialog-content>
		<mat-tab-group>
			<mat-tab label="General">
				<div class="tab">
					<mat-form-field>
						<mat-select matNativeControl [(value)]="defaultViewSelect">
							<mat-option *ngFor="let option of defaultViewSelectList" value={{option}}>{{option}}
							</mat-option>
						</mat-select>
						<mat-label>Open on: </mat-label>
					</mat-form-field>
					<mat-form-field>
						<input matInput name="projectPathInput" [(ngModel)]="defaultProjectPath" required>
						<mat-label> Default project directory: </mat-label>
						<button class="path-button" mat-button mat-icon-button matSuffix (click)="pathButtonClicked()">
							<mat-icon>save</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</mat-tab>
			<mat-tab label="Sync">
				<div class="tab">
					<p>Sync is not ready yet.</p>
				</div>
			</mat-tab>
			<mat-tab label="Keyboard shortcuts">
				<div class="tab">
					<p>Dynamic keyboard shortcuts are not ready yet.</p>
				</div>
			</mat-tab>
		</mat-tab-group>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button [mat-dialog-close]="true"> Cancel </button>
		<button mat-button (click)="saveButtonClicked()"> Save </button>
	</mat-dialog-actions>
</div>