<div class="container">
	<h1 mat-dialog-title> Settings</h1>
	<mat-dialog-content>
		<mat-tab-group>
			<mat-tab label="General">
				<div class="tab">
					<mat-form-field>
						<mat-select [(ngModel)]="defaultView">
							<mat-option *ngFor="let option of views" [value]="option">{{option}}</mat-option>
						</mat-select>
						<mat-label>Open on: </mat-label>
					</mat-form-field>
					<mat-form-field>
						<input matInput name="projectPathInput" [(ngModel)]="defaultProjectPath" readonly required>
						<mat-label> Default project directory: </mat-label>
						<button class="path-button" mat-button mat-icon-button matSuffix (click)="pathButtonClicked()">
							<mat-icon>save</mat-icon>
						</button>
					</mat-form-field>
					<mat-checkbox [(ngModel)]="allowPreRelease"> Download pre-releases </mat-checkbox>
				</div>
			</mat-tab>
			<mat-tab label="Appearance">
				<div class="tab">
					<mat-form-field>
						<mat-select name="themeSelect" [(value)]="currentTheme" (selectionChange)="themeChanged()">
							<mat-optgroup label="Light">
								<mat-option *ngFor="let lightTheme of themeService.themes.light" [value]="lightTheme">
									{{lightTheme}}
								</mat-option>
							</mat-optgroup>
							<mat-optgroup label="Dark">
								<mat-option *ngFor="let darkTheme of themeService.themes.dark" [value]="darkTheme">
									{{darkTheme}}
								</mat-option>
							</mat-optgroup>
						</mat-select>
						<mat-label> Theme </mat-label>
					</mat-form-field>
				</div>
			</mat-tab>
			<mat-tab label="Sync">
				<div class="tab">
					<p>Sync is not ready yet.</p>
				</div>
			</mat-tab>
			<mat-tab label="Keyboard shortcuts">
				<div class="tab">
					<p>Dynamic keyboard shortcuts are not ready yet.</p>
				</div>
			</mat-tab>
		</mat-tab-group>
	</mat-dialog-content>
	<mat-dialog-actions>
		<button mat-button [mat-dialog-close]="true"> Cancel </button>
		<button mat-button (click)="saveButtonClicked()"> Save </button>
	</mat-dialog-actions>
</div>