.container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.tab {
	padding: 10px;
}

mat-tab {
	height: 100%;
}

mat-form-field {
	width: 100%;
}

mat-dialog-content {
	height: 100%;
}

mat-dialog-actions {
	align-self: flex-end;
}
