<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
	<mat-tree-node *matTreeNodeDef="let task" matTreeNodeToggle matTreeNodePadding
		(dragover)="handleDragOver($event, task)" (dragend)="handleDragEnd($event)" (drop)="handleDrop($event, task)"
		[ngClass]="getStyle(task)">
		<button mat-icon-button disabled></button>
		<mat-icon class="drag-handle" draggable="true" (dragstart)="handleDragStart($event, task)">
			drag_handle
		</mat-icon>
		<div class="task" draggable="false">
			<mat-checkbox (change)="taskStatusChanged(task)">
				{{task.name}}
			</mat-checkbox>
			<button mat-icon-button [attr.aria-label]="'Edit ' + task.name">
				<mat-icon> edit </mat-icon>
			</button>
		</div>
	</mat-tree-node>

	<mat-tree-node *matTreeNodeDef="let task;when: hasChild" matTreeNodePadding
		(dragover)="handleDragOver($event, task)" (dragend)="handleDragEnd($event)" (drop)="handleDrop($event, task)"
		[ngClass]="getStyle(task)">
		<mat-icon class="drag-handle" draggable="true" (dragstart)="handleDragStart($event, task)">
			drag_handle
		</mat-icon>
		<button mat-icon-button matTreeNodeToggle (click)="taskExpansionHandler(task)"
			[attr.aria-label]="'toggle ' + task.name">
			<mat-icon class="mat-icon-rtl-mirror">
				{{task.isExpanded ? 'expand_more' : 'chevron_right'}}
			</mat-icon>
		</button>
		<div class="task" draggable="false">
			<mat-checkbox (change)="taskStatusChanged(task)">
				{{task.name}}
			</mat-checkbox>
			<button mat-icon-button [attr.aria-label]="'Edit ' + task.name">
				<mat-icon> edit </mat-icon>
			</button>
		</div>
	</mat-tree-node>
</mat-tree>