mat-tree {
	background: transparent !important;
}

.mat-tree-node {
	overflow: visible;
	cursor: default;
	--mat-tree-node-hover: hidden;
}

.mat-tree-node:hover {
	--mat-tree-node-hover: visible;
}

.task {
	border-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.task-left {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.drop-above {
	border-top: 10px solid #2196f3;
	margin-top: -10px;
}

.drop-below {
	border-bottom: 10px solid #2196f3;
	margin-bottom: -10px;
}

.drop-center {
	background-color: darkgray;
}

.drag-start {
	background-color: #1565c0;
	color: honeydew;
}

.drag-handle {
	cursor: move;
	visibility: var(--mat-tree-node-hover);
	padding: 10px;
}
