.mat-tree-node {
	overflow: visible;
	cursor: move;
}

.drop-above {
	border-top: 10px solid #2196f3;
	margin-top: -10px;
}

.drop-below {
	border-bottom: 10px solid #2196f3;
	margin-bottom: -10px;
}

.drop-center {
	background-color: darkgray;
}

.drag-start {
	background-color: #1565c0;
	color: honeydew;
}
