@mixin style-project-component($mat-theme) {
	.drop-above {
		border-top: 10px solid mat-color(map-get($mat-theme, primary));
		margin-top: -10px;
	}

	.drop-below {
		border-bottom: 10px solid mat-color(map-get($mat-theme, primary));
		margin-bottom: -10px;
	}

	.drag-start {
		background-color: mat-color(map-get($mat-theme, primary));
		color: honeydew;
	}

	.date-today {
		color: mat-color(map-get($mat-theme, warn));
	}

	.date-tomorrow {
		color: mat-color(map-get($mat-theme, accent));
	}
}

mat-tree {
	background: transparent !important;
}

.mat-tree-node {
	overflow: visible;
	cursor: default;
	--mat-tree-node-hover: hidden;
}

.mat-tree-node:hover {
	--mat-tree-node-hover: visible;
}

.task {
	border-color: black;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.task-left {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.drop-center {
	background-color: darkgray;
}

.drag-handle {
	cursor: move;
	visibility: var(--mat-tree-node-hover);
	padding: 10px;
}
