<h1 mat-dialog-title> Import project </h1>
<mat-dialog-content>
	<form ngNativeValidate #form="ngForm" (keydown.control.enter)="form.valid && saveButtonClicked()">
		<mat-card>
			<mat-card-content>
				<mat-form-field>
					<input matInput readonly="true" name="projectPathInput" [(ngModel)]="projectPathInput" required
						fileValidatorDirective #projectPathNgModel="ngModel">
					<mat-error *ngIf="projectPathNgModel.errors && projectPathNgModel.errors.fileDoesNotExist"
						class="alert alert-danger">
						This file does not exist
					</mat-error>
					<mat-label> Path to a local folder </mat-label>
					<button class="path-button" mat-button mat-icon-button matSuffix (click)="pathButtonClicked()">
						<mat-icon>save</mat-icon>
					</button>
				</mat-form-field>
			</mat-card-content>
		</mat-card>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="null"> Cancel </button>
	<button mat-button type="submit" [disabled]="form.invalid" (click)="saveButtonClicked()"> Save </button>
</mat-dialog-actions>