@mixin style-task-date-component($mat-theme) {
	.date-before-today {
		color: mat-color(map-get($mat-theme, warn));
	}

	.date-today {
		color: mat-color(map-get($mat-theme, primary));
	}

	.date-tomorrow {
		color: mat-color(map-get($mat-theme, accent));
	}
}
