<div class="date-today" *ngIf="task.getDateOutput() == 'today'"> Today at
	{{task.date.toLocaleTimeString()}}</div>
<div class="date-tomorrow" *ngIf="task.getDateOutput() == 'tomorrow'"> Tomorrow at
	{{task.date.toLocaleTimeString()}}</div>
<div *ngIf="task.getDateOutput() == 'sunday'"> On Sunday at {{task.date.toLocaleTimeString()}}</div>
<div *ngIf="task.getDateOutput() == 'monday'"> On Monday at {{task.date.toLocaleTimeString()}}</div>
<div *ngIf="task.getDateOutput() == 'tuesday'"> On Tuesday at {{task.date.toLocaleTimeString()}}</div>
<div *ngIf="task.getDateOutput() == 'thursday'"> On Thursday at {{task.date.toLocaleTimeString()}}</div>
<div *ngIf="task.getDateOutput() == 'friday'"> On Friday at {{task.date.toLocaleTimeString()}}</div>
<div *ngIf="task.getDateOutput() == 'saturday'"> On Saturday at {{task.date.toLocaleTimeString()}}</div>
<div *ngIf="task.getDateOutput() == 'default'"> {{task.date.toLocaleString()}} </div>