<div cdkDrag>
	<div class="task">
		<div class="task-left">
			<button (click)="collapseButtonClicked()" type="button" aria-label="Expand" mat-icon-button>
				<mat-icon aria-label="Expand icon">{{expandIcon}}</mat-icon>
			</button>
			<button type="button" aria-label="Mark task as done" mat-icon-button>
				<mat-icon aria-label="Mark task as done icon">check_box_outline_blank</mat-icon>
			</button>
			<div class="task-name">{{task.name}}</div>
		</div>
		<div class="task-right">
			<button type="button" aria-label="Edit task" mat-icon-button class="edit-task-button">
				<mat-icon aria-label="Edit task icon">edit</mat-icon>
			</button>
		</div>
	</div>
	<div [hidden]="subtasksExpanded" class="drop-list" cdkDropList (cdkDropListDropped)="drop($event)"
		[cdkDropListData]="task.tasks" [id]="task.id.toString()" [cdkDropListConnectedTo]="connectedTasksIds">
		<task *ngFor="let subtask of task.tasks" [task]=subtask [connectedTasksIds]="connectedTasksIds"> </task>
		<div class="cdk-drag-placeholder" *cdkDragPlaceholder> </div>
		<div class="cdk-drag-preview" *cdkDragPreview>
			<div class="task-name">{{task.name}}</div>
		</div>
	</div>
</div>