// Material
@import '~@angular/material/theming';
@include mat-core();
// Material

$arc-dark: (
	primary-base:
		(
			50 : #e7e8f0,
			100 : #c2c6da,
			200 : #9aa0c1,
			300 : #7179a8,
			400 : #525d96,
			500 : #344083,
			600 : #2f3a7b,
			700 : #273270,
			800 : #212a66,
			900 : #151c53,
			A100 : #8e9aff,
			A200 : #5b6cff,
			A400 : #283fff,
			A700 : #0e28ff,
			contrast:
				(
					50 : #000000,
					100 : #000000,
					200 : #000000,
					300 : #ffffff,
					400 : #ffffff,
					500 : #ffffff,
					600 : #ffffff,
					700 : #ffffff,
					800 : #ffffff,
					900 : #ffffff,
					A100 : #000000,
					A200 : #ffffff,
					A400 : #ffffff,
					A700 : #ffffff
				)
		),
	accent-base:(
			50 : #eaf2fc,
			100 : #cbdff6,
			200 : #a9caf1,
			300 : #86b4eb,
			400 : #6ca4e6,
			500 : #5294e2,
			600 : #4b8cdf,
			700 : #4181da,
			800 : #3877d6,
			900 : #2865cf,
			A100 : #ffffff,
			A200 : #dae6ff,
			A400 : #a7c5ff,
			A700 : #8db4ff,
			contrast:
				(
					50 : #000000,
					100 : #000000,
					200 : #000000,
					300 : #000000,
					400 : #000000,
					500 : #000000,
					600 : #000000,
					700 : #ffffff,
					800 : #ffffff,
					900 : #ffffff,
					A100 : #000000,
					A200 : #000000,
					A400 : #000000,
					A700 : #000000
				)
		),
	warn-base: $mat-red,
	is-dark: true,
	foreground-palette:
		(
			base: white,
			divider: $light-dividers,
			dividers: $light-dividers,
			disabled: $light-disabled-text,
			disabled-button: rgba(white, 0.3),
			disabled-text: $light-disabled-text,
			elevation: black,
			hint-text: $light-disabled-text,
			secondary-text: $light-secondary-text,
			icon: white,
			icons: white,
			text: white,
			slider-min: white,
			slider-off: rgba(white, 0.3),
			slider-off-active: rgba(white, 0.3)
		),
	background-palette:
		(
			status-bar: black,
			app-bar: map_get($mat-grey, 900),
			background: #282c34,
			hover: rgba(white, 0.04),
			card: #21252b,
			dialog: #21252b,
			disabled-button: rgba(white, 0.12),
			raised-button: #1d2129,
			focused-button: $light-focused,
			selected-button: map_get($mat-grey, 900),
			selected-disabled-button: #1d2129,
			disabled-button-toggle: black,
			unselected-chip: map_get($mat-grey, 700),
			disabled-list-option: black,
			tooltip: map_get($mat-grey, 700)
		)
);
