<div class="fab-container">
	<button mat-fab class="fab-toggler" (click)="onToggleFab()">
		<i class="material-icons" [@fabToggler]="{value: fabTogglerState}">add</i>
	</button>
	<div class="buttons" [@speedDialStagger]="buttons.length">
		<button *ngFor="let button of buttons" mat-mini-fab color="secondary"
			(click)="fabItemButtonClicked(button.name)">
			<mat-icon>{{button.icon}}</mat-icon>
		</button>
	</div>
</div>
<div class="fab-dismiss" *ngIf="fabTogglerState==='active'" (click)="onToggleFab()"></div>