<h1 mat-dialog-title> {{data.name}} </h1>
<mat-dialog-content>
	<form ngNativeValidate #form="ngForm" (keydown.control.enter)="form.valid && saveButtonClicked()">
		<mat-card>
			<mat-card-title>Basic</mat-card-title>
			<mat-card-content>
				<mat-form-field>
					<input matInput name="taskNameInput" [(ngModel)]="data.name" required>
					<mat-label> Task name </mat-label>
				</mat-form-field>
				<mat-form-field>
					<input matInput name="taskDateInput" readonly="true" [ngxMatDatetimePicker]="datePicker"
						placeholder="Choose a deadline" [(ngModel)]="data.date" (ngModelChange)="dateChanged()">
					<mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
					<button mat-icon-button matSuffix (click)="clearDateInput()">
						<mat-icon> clear </mat-icon>
					</button>
					<ngx-mat-datetime-picker #datePicker [showSpinners]="false" [defaultTime]="[12,00,0]">
					</ngx-mat-datetime-picker>
					<mat-label> Deadline time </mat-label>
				</mat-form-field>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-title>Repeat</mat-card-title>
			<mat-card-content>
				<mat-form-field>
					<mat-select name="taskRepeatPresetInput" placeholder="Select a preset"
						[(ngModel)]="data.repeat.preset" (ngModelChange)="presetSelectionChanged()">
						<mat-option value="none"> None </mat-option>
						<mat-option value="custom"> Custom </mat-option>
					</mat-select>
					<mat-label> Repeat preset </mat-label>
				</mat-form-field>
				<div class="repeat-main" *ngIf="data.repeat.preset=='custom'">
					<mat-form-field class="ordinal-form-field">
						<input matInput type="number" min="1" name="taskOrdinalInput" placeholder="Choose a unit"
							[(ngModel)]="data.repeat.ordinal" required ordinalValidatorDirective
							#taskOrdinalNgModel="ngModel">
						<mat-error *ngIf="taskOrdinalNgModel.errors && taskOrdinalNgModel.errors.ordinalTooSmall"
							class="alert alert-danger">
							Ordinal must be higher than 0
						</mat-error>
						<mat-label> Ordinal </mat-label>
					</mat-form-field>
					<mat-form-field class="unit-form-field">
						<mat-select name="taskUnitSelect" [multiple]="true" placeholder="Choose a unit"
							[multiple]="true" [(ngModel)]="unitInput" required unitValidatorDirective
							#taskUnitNgModel="ngModel" (ngModelChange)="unitSelectionChanged()">
							<mat-option>
								<ngx-mat-select-search type="text" placeholderLabel="Search"
									noEntriesFoundLabel="Nothing found" [formControl]="unitCategoriesFilterControl">
								</ngx-mat-select-search>
							</mat-option>
							<mat-optgroup *ngFor="let category of filteredUnits | async" [label]="category.name">
								<mat-option *ngFor="let unit of category.units" [value]=" unit.id">
									{{unit.name}}
								</mat-option>
							</mat-optgroup>
						</mat-select>
						<mat-error *ngIf="taskUnitNgModel.errors && taskUnitNgModel.errors.moreThanOneCategory"
							class="alert alert-danger">
							Only one category can be selected
						</mat-error>
						<mat-error *ngIf="taskUnitNgModel.errors && taskUnitNgModel.errors.moreThanOneUnitCategories"
							class="alert alert-danger">
							Only one unit in Units category can be selected
						</mat-error>
						<mat-label> Unit </mat-label>
					</mat-form-field>
				</div>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-title>Reminders</mat-card-title>
			<mat-card-content>
				<mat-form-field>
					<input matInput name="taskReminderInput" readonly="true" [(ngModel)]="reminderInput"
						[ngxMatDatetimePicker]="reminderPicker" placeholder="Set a new reminder">
					<mat-datepicker-toggle matSuffix [for]="reminderPicker"></mat-datepicker-toggle>
					<button mat-icon-button matSuffix (click)="clearReminderInput()">
						<mat-icon> clear </mat-icon>
					</button>
					<button mat-icon-button matSuffix (click)="checkReminderInput()">
						<mat-icon> check </mat-icon>
					</button>
					<ngx-mat-datetime-picker #reminderPicker [showSpinners]="false" [defaultTime]="[12,00,0]">
					</ngx-mat-datetime-picker>
					<mat-label> Add a reminder </mat-label>
				</mat-form-field>
				<div role="list">
					<div class="reminder-item" *ngFor="let reminder of data.reminders; let index = index"
						role="listitem">
						<div>{{reminder.toLocaleString()}}</div>
						<button mat-icon-button (click)="deleteReminder(index)">
							<mat-icon> delete </mat-icon>
						</button>
					</div>
				</div>
				<div class="no-reminders-warning" *ngIf="data.reminders.length == 0">No reminders</div>
			</mat-card-content>
		</mat-card>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="null"> Cancel </button>
	<button mat-button type="submit" [disabled]="form.invalid" (click)="saveButtonClicked()"> Save
	</button>
</mat-dialog-actions>