.repeat-main {
	display: flex;
	flex-direction: row;
	--horizontal-distance-between-form-fields: 8px;
}

.unit-form-field {
	margin-left: var(--horizontal-distance-between-form-fields);
}

.ordinal-form-field {
	margin-right: var(--horizontal-distance-between-form-fields);
}

.reminder-item {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.no-reminders-warning {
	display: flex;
	justify-content: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

mat-card {
	margin-bottom: 10px;
}

mat-form-field {
	width: 100%;
}
