.repeat-main {
	display: flex;
	flex-direction: row;
	--horizontal-distance-between-form-fields: 8px;
}

.unit-form-field {
	margin-left: var(--horizontal-distance-between-form-fields);
}

.ordinal-form-field {
	margin-right: var(--horizontal-distance-between-form-fields);
}

mat-card {
	margin-bottom: 10px;
}

mat-form-field {
	width: 100%;
}
