<h1 mat-dialog-title> {{data.name}} </h1>
<mat-dialog-content>
	<form ngNativeValidate #form="ngForm" (keydown.control.enter)="form.valid && saveButtonClicked()">
		<mat-card>
			<mat-card-content>
				<mat-form-field>
					<input matInput name="taskNameInput" [(ngModel)]="data.name" required>
					<mat-label> Task name </mat-label>
				</mat-form-field>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-content>
				<mat-form-field>
					<input matInput name="taskDateInput" readonly="true" [ngxMatDatetimePicker]="picker"
						placeholder="Choose a deadline" [(ngModel)]="data.date">
					<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
					<button mat-icon-button matSuffix (click)="clearDateInput()">
						<mat-icon> clear </mat-icon>
					</button>
					<ngx-mat-datetime-picker #picker [showSpinners]="false" [defaultTime]="[12,00,0]">
					</ngx-mat-datetime-picker>
					<mat-label> Deadline time </mat-label>
				</mat-form-field>
			</mat-card-content>
		</mat-card>
	</form>
</mat-dialog-content>
<mat-dialog-actions align=" end">
	<button mat-button [mat-dialog-close]="null"> Cancel </button>
	<button mat-button type="submit" [disabled]="form.invalid" (click)="saveButtonClicked()"> Save
	</button>
</mat-dialog-actions>