@import '~@angular/material/theming';

@include mat-core();

$themes-map: (
	indigo-pink: (primary-base: $mat-indigo, accent-base: $mat-pink, light-or-dark: 'light'),
	deeppurple-amber: (primary-base: $mat-deep-purple, accent-base: $mat-amber, light-or-dark: 'light'),
	pink-bluegrey: (primary-base: $mat-pink, accent-base: $mat-blue-gray, light-or-dark: 'dark'),
	purple-green: (primary-base: $mat-purple, accent-base: $mat-green, light-or-dark: 'dark')
);

@import '~angular-material-dynamic-themes/themes-core';

@include make-stylesheets($themes-map);

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}

html,
body {
	height: 100%;
}
body {
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
}
