<h1 mat-dialog-title> {{data.name}} </h1>
<mat-dialog-content>
	<form ngNativeValidate #form="ngForm">
		<mat-card>
			<mat-card-content>
				<mat-form-field>
					<input matInput name="projectNameInput" [(ngModel)]="this.data.name" required>
					<mat-label> Project name </mat-label>
				</mat-form-field>
			</mat-card-content>
		</mat-card>
		<mat-card>
			<mat-card-content class=" mat-card-content-local">
				<mat-form-field>
					<input matInput name="projectPathInput" [(ngModel)]="data.path" required>
					<mat-label> Path to a local file </mat-label>
				</mat-form-field>
				<button class="path-button" mat-button (click)="pathButtonClicked()">
					<mat-icon>save</mat-icon>
				</button>
			</mat-card-content>
		</mat-card>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-button [mat-dialog-close]="null"> Cancel </button>
	<button mat-button (click)="deleteProjectClicked()"> Delete project </button>
	<button mat-button type="submit" [disabled]="form.invalid" (click)="saveButtonClicked()"> Save </button>
</mat-dialog-actions>