<mat-toolbar color="primary">
	<button class="button-icon" mat-icon-button type="button" aria-label="Toggle sidenav"
		(click)="sidenavDrawer.toggle()">
		<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
	</button>
	<mat-icon svgIcon="taskizer" class="app-icon"></mat-icon>
	<span class="title">Taskizer</span>

	<div class="spacer"></div>

	<button class="button-icon" mat-icon-button type="button" aria-label="Refresh">
		<mat-icon aria-label="Refresh icon">refresh</mat-icon>
	</button>
	<button class="button-icon" mat-icon-button type="button" aria-label="Settings" (click)="settingsButtonClicked()">
		<mat-icon aria-label="Settings icon">settings</mat-icon>
	</button>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenavDrawer [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
		[opened]="!(isHandset | async)!.matches" fixedInViewport="false">
		<mat-nav-list>
			<mat-list-item [routerLink]="['today']" [routerLinkActive]="['drag-item-selected']" i18n>
				Today
			</mat-list-item>

			<mat-divider></mat-divider>

			<mat-expansion-panel [togglePosition]="'before'" expanded="true">
				<mat-expansion-panel-header>
					<mat-panel-title i18n> Projects </mat-panel-title>
				</mat-expansion-panel-header>
				<div class="drop-list" cdkDropList (cdkDropListDropped)="drop($event)">
					<mat-list-item class="drag-item" (click)="setSelectedProject(project.id)"
						[routerLink]="['project', project.id]" [routerLinkActive]="['drag-item-selected']" cdkDrag
						*ngFor="let project of projects">
						<project-nav-item (editProjectOutput)="editProjectEvent($event)"
							(deleteProjectOutput)="deleteProjectEvent($event)" [project]=project>
							{{project["name"]}}
						</project-nav-item>
					</mat-list-item>
				</div>
			</mat-expansion-panel>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<ng-content> </ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
<speed-dial-fab (createNewProjectOutput)="addProjectEvent($event)"></speed-dial-fab>