<mat-toolbar color="primary" class="toolbar">
	<button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="sidenavDrawer.toggle()">
		<mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
	</button>
	<span>Taskizer</span>

	<div class="spacer"></div>

	<button type="button" aria-label="Refresh" mat-icon-button>
		<mat-icon aria-label="Refresh icon">refresh</mat-icon>
	</button>
	<button type="button" aria-label="Settings" mat-icon-button (click)="settingsButtonClicked()">
		<mat-icon aria-label="Settings icon">settings</mat-icon>
	</button>
</mat-toolbar>
<mat-sidenav-container>
	<mat-sidenav #sidenavDrawer [mode]="(isHandset | async)!.matches ? 'over' : 'side'"
		[opened]="!(isHandset | async)!.matches" fixedInViewport="false">
		<mat-nav-list>
			<mat-expansion-panel [expanded]="true">
				<mat-expansion-panel-header>
					<mat-panel-title> Personal </mat-panel-title>
				</mat-expansion-panel-header>
				<mat-list-item [routerLink]="['/today']" i18n>Today</mat-list-item>
				<mat-list-item [routerLink]="['/calender']" i18n>Calender</mat-list-item>
			</mat-expansion-panel>

			<mat-divider></mat-divider>

			<mat-expansion-panel>
				<mat-expansion-panel-header>
					<mat-panel-title i18n> Projects </mat-panel-title>
				</mat-expansion-panel-header>

				<div class="drop-list" cdkDropList (cdkDropListDropped)="drop($event)">
					<mat-list-item [routerLink]="['/project', i]" class="drag-item" cdkDrag
						*ngFor="let project of projects; let i = index">
						<project-nav-item> {{project["name"]}} </project-nav-item>
					</mat-list-item>
				</div>
			</mat-expansion-panel>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<ng-content> </ng-content>
	</mat-sidenav-content>
</mat-sidenav-container>
<speed-dial-fab (projectNameOutput)="addProjectEvent($event)"></speed-dial-fab>